@page "/create"
@model MongoWiki.Pages.CreatePageModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Create Page";
}

<h2>Create Page</h2>

<form method="post">
    <div class="form-group">
        <label>Name</label>
        <input asp-for="Name" type="text" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Create Page</button>
</form>
