@page "/pages/{slug}/edit"

@model MongoWiki.Pages.EditPageModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = $"{Model.WikiPage.Name} - Edit";
}

<h2>@Model.WikiPage.Name</h2>

<form method="post">
    <div class="form-group">
        <textarea asp-for="NewContent" rows="15" class="form-control"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
</form>
