@page "/pages/{slug}"

@model MongoWiki.Pages.ViewPageModel
@using Markdig
@{
    ViewData["Title"] = "ViewPage";
}

<h2>@Model.WikiPage.Name</h2>

@Html.Raw(Markdown.ToHtml(Model.MostRecentRevision.Content))
